@import '~bootstrap/scss/bootstrap';

img {
  height: 400px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.d-flex {
  justify-content: space-between;
}

.carousel-image {
  
}
