@import '~bootstrap/scss/bootstrap';

img {
  height: 400px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

.productCard {
  display: flex;
  justify-content: center;
}
>>>>>>> 9b9dcdb (Update the home index style)
=======

.d-flex {
  justify-content: space-between;
}

.button-link {
  color: white;
}
>>>>>>> b4ddb10 (Adds add to cart button)
