@import '~bootstrap/scss/bootstrap';

img {
  height: 400px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}
<<<<<<< HEAD
=======

.productCard {
  display: flex;
  justify-content: center;
}
>>>>>>> 9b9dcdb (Update the home index style)
